# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
/data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
notebooks/model.png
notebooks/tensorboard_logs/scalars/GRU_Translator_256_20210427-162007/metrics/events.out.tfevents.1619533207.saturn.145467.486.v2
notebooks/tensorboard_logs/scalars/GRU_Translator_256_20210427-163610/metrics/events.out.tfevents.1619534170.saturn.6219.486.v2
notebooks/tensorboard_logs/scalars/GRU_Translator_256_20210427-205245/metrics/events.out.tfevents.1619549565.saturn.36142.486.v2
notebooks/tensorboard_logs/scalars/GRU_Translator_256_20210427-210152/metrics/events.out.tfevents.1619550112.saturn.37110.486.v2
notebooks/tensorboard_logs/scalars/GRU_Translator_256_20210427-211717/metrics/events.out.tfevents.1619551037.saturn.39237.486.v2
notebooks/tensorboard_logs/scalars/GRU_Translator_256_20210427-212156/metrics/events.out.tfevents.1619551316.saturn.39628.486.v2
